<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<footer>
  <div id="load_time"></div>
  <div>Время загрузки сервера <b> {{ time }} </b> секунд </div>
</footer>