<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Navga Blogs</title>
  <link href="/css/main.css" rel="stylesheet">
  <script src="/scripts/timeload.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/website.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/supertokens.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/session.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/thirdparty.js"></script>
  <script>
    supertokens.init({
      appInfo: {
        apiDomain: "https://navgablog.onrender.com/",
        // apiDomain: "http://localhost:3000/",
        apiBasePath: "/auth",
        appName: "navgablog",
      },
      recipeList: [
        supertokensSession.init(),
        supertokensThirdParty.init(),
      ],
    });
  </script>
  <script src="/scripts/auth.js"></script>

</head>
<body>
{{> nav }}
{{{ body }}}
{{> footer }}
</body>
</html>