<style>
  .greetings{
    display: flex;
    justify-content: center;
  }
</style>

<div class="greetings">Привет! Я индексная страница этого сервиса блогов. Так как мне не хватает времени на стили, я оставлю все как есть</div>