<br>
<br>
<br>
<br>

<script src="scripts/post/create.js"></script>

<section class="post_creator">
  <h1>Создание публикации</h1>
  <form onsubmit="handlePostSubmit(event, this)">
    <p>Название: </p>
    <input autocomplete="off" name="title" placeholder="Название...">
    <p>Описание: </p>
    <input autocomplete="off" name="content" placeholder="Описание...">
    <p>Категории: </p>
    <select multiple id="select_categories">
    </select>
    <button type="submit">Создать</button>
  </form>
</section>

<script src="scripts/category/getAll.js"></script>
<script src="scripts/post/create.js"></script>
