

<script src="../scripts/post/getAll.js"></script>
<script src="../scripts/post/delete.js"></script>
<script src="../scripts/post/update.js"></script>

<script>

  getPosts({{ id }})
</script>

<section class="forum_container">
  <section id="post_container">
  </section>
</section>